html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1020px;
}

.ship {
    width: 100%;
    border: 1px solid #ccc;
    margin: 10px;
}

.ship > span {
    display: block;
    padding: 10px;
}

.ship-title {
    background: #f1f1f1;
    padding: 10px;
    font-weight: 600;
}

.ship-title span {
    font-weight: 400;
    float: right;
}

.ship-stared .ship-title span:before{
    content: '\2605';
    color: gold;
}

@media (min-width: 768px) {
    .ship {
        max-width: 250px;
    }
}
